
	<div class="container-fluid age-gate-background">
		<div class="row">
			<div class="">
				<img class="age-gate-image" src="/css/img/age_gate_bottle.jpg" />
			</div>
		</div>
		<div class="row">
			<form class="col-sm-offset-7 col-sm-4" id="age-gate-form" action="">
				<p class="bigLabel">
					Please enter your birth date
				</p>
				<p class="birthday">
					<select name="Month_form" id="Month_form">
						<option value="" disabled selected>MM</option>
						<option value="1">01</option>
						<option value="2">02</option>
						<option value="3">03</option>
						<option value="4">04</option>
						<option value="5">05</option>
						<option value="6">06</option>
						<option value="7">07</option>
						<option value="8">08</option>
						<option value="9">09</option>
						<option value="10">10</option>
						<option value="11">11</option>
						<option value="12">12</option>
					</select>
					<select name="Day_form" id="Day_form">
						<option value="" disabled selected>DD</option>
						<option value="1">01</option>
						<option value="2">02</option>
						<option value="3">03</option>
						<option value="4">04</option>
						<option value="5">05</option>
						<option value="6">06</option>
						<option value="7">07</option>
						<option value="8">08</option>
						<option value="9">09</option>
						<option value="10">10</option>
						<option value="11">11</option>
						<option value="12">12</option>
						<option value="13">13</option>
						<option value="14">14</option>
						<option value="15">15</option>
						<option value="16">16</option>
						<option value="17">17</option>
						<option value="18">18</option>
						<option value="19">19</option>
						<option value="20">20</option>
						<option value="21">21</option>
						<option value="22">22</option>
						<option value="23">23</option>
						<option value="24">24</option>
						<option value="25">25</option>
						<option value="26">26</option>
						<option value="27">27</option>
						<option value="28">28</option>
						<option value="29">29</option>
						<option value="30">30</option>
						<option value="31">31</option>
					</select>
					<input id="Year_form" type="number" placeholder="YYYY" name="Year_form" min="1900" max="2014"> <!-- Use PHP to change to current year -->
				</p>
				<p class="bigLabel">
					Select your country of residence
				</p>
				<p class="country">
					<select id="Country_form" name="Country_form">
						<option value="" disabled selected>Select Country</option>
						<option value="9999">Afghanistan</option>
						<option value="18">Albania</option>
						<option value="18">Algeria</option>
						<option value="21">American Samoa</option>
						<option value="18">Angola</option>
						<option value="21">Antarctica</option>
						<option value="18">Argentina</option>
						<option value="21">Armenia</option>
						<option value="18">Aruba</option>
						<option value="18">Australia</option>
						<option value="18">Austria</option>
						<option value="18">Azerbaijan</option>
						<option value="18">Bahamas</option>
						<option value="18">Bahrain</option>
						<option value="9999">Bangladesh</option>
						<option value="16">Barbados</option>
						<option value="18">Belarus</option>
						<option value="16">Belgium</option>
						<option value="18">Belize</option>
						<option value="18">Bermuda</option>
						<option value="18">Bolivia</option>
						<option value="18">Bosnia and Herzegovina</option>
						<option value="18">Botswana</option>
						<option value="18">Brazil</option>
						<option value="9999">Brunei Darussalam</option>
						<option value="18">Bulgaria</option>
						<option value="16">Burundi</option>
						<option value="21">Cambodia</option>
						<option value="21">Cameroon</option>
						<option value="19">Canada</option>
						<option value="18">Cape Verde</option>
						<option value="18">Cayman Islands</option>
						<option value="18">Central African Republic</option>
						<option value="21">Chad</option>
						<option value="18">Chile</option>
						<option value="18">China</option>
						<option value="18">Colombia</option>
						<option value="21">Comoros</option>
						<option value="18">Congo</option>
						<option value="18">Costa Rica</option>
						<option value="18">Croatia</option>
						<option value="18">Cuba</option>
						<option value="17">Cyprus</option>
						<option value="18">Czech Republic</option>
						<option value="16">Denmark</option>
						<option value="18">Dominican Republic</option>
						<option value="18">Ecuador</option>
						<option value="21">Egypt</option>
						<option value="18">El Salvador</option>
						<option value="18">Eritrea</option>
						<option value="18">Estonia</option>
						<option value="18">Ethiopia</option>
						<option value="18">Falkland Islands (Malvinas)</option>
						<option value="21">Fiji</option>
						<option value="18">Finland</option>
						<option value="18">France</option>
						<option value="18">French Guiana</option>
						<option value="18">French Polynesia</option>
						<option value="18">Gabon</option>
						<option value="18">Gambia</option>
						<option value="18">Georgia</option>
						<option value="16">Germany</option>
						<option value="18">Ghana</option>
						<option value="18">Greece</option>
						<option value="21">Greenland</option>
						<option value="18">Grenada</option>
						<option value="21">Guam</option>
						<option value="18">Guatemala</option>
						<option value="21">Guinea-Bissau</option>
						<option value="18">Guyana</option>
						<option value="16">Haiti</option>
						<option value="18">Honduras</option>
						<option value="18">Hong Kong</option>
						<option value="18">Hungary</option>
						<option value="20">Iceland</option>
						<option value="25">India</option>
						<option value="21">Indonesia</option>
						<option value="9999">Iran</option>
						<option value="18">Iraq</option>
						<option value="18">Ireland</option>
						<option value="18">Israel</option>
						<option value="18">Italy</option>
						<option value="16">Jamaica</option>
						<option value="20">Japan</option>
						<option value="18">Jordan</option>
						<option value="21">Kazakhstan</option>
						<option value="18">Kenya</option>
						<option value="18">Kuwait</option>
						<option value="18">Kyrgyzstan</option>
						<option value="18">Laos</option>
						<option value="18">Latvia</option>
						<option value="18">Lebanon</option>
						<option value="21">Liberia</option>
						<option value="18">Libya</option>
						<option value="16">Liechtenstein</option>
						<option value="20">Lithuania</option>
						<option value="16">Luxembourg</option>
						<option value="21">Macao</option>
						<option value="18">Macedonia</option>
						<option value="18">Madagascar</option>
						<option value="18">Malawi</option>
						<option value="18">Malaysia</option>
						<option value="18">Maldives</option>
						<option value="17">Malta</option>
						<option value="18">Mexico</option>
						<option value="21">Micronesia</option>
						<option value="18">Moldova</option>
						<option value="18">Monaco</option>
						<option value="18">Mongolia</option>
						<option value="18">Montenegro</option>
						<option value="16">Morocco</option>
						<option value="18">Mozambique</option>
						<option value="18">Myanmar</option>
						<option value="18">Namibia</option>
						<option value="18">Nepal</option>
						<option value="18">Netherlands</option>
						<option value="18">New Zealand</option>
						<option value="18">Nicaragua</option>
						<option value="18">Niger</option>
						<option value="18">Nigeria</option>
						<option value="18">North Korea</option>
						<option value="18">Norway</option>
						<option value="21">Oman</option>
						<option value="21">Pakistan</option>
						<option value="21">Palau</option>
						<option value="18">Panama</option>
						<option value="18">Papua New Guinea</option>
						<option value="20">Paraguay</option>
						<option value="18">Peru</option>
						<option value="18">Philippines</option>
						<option value="18">Poland</option>
						<option value="18">Portugal</option>
						<option value="18">Puerto Rico</option>
						<option value="21">Qatar</option>
						<option value="18">Romania</option>
						<option value="18">Russia</option>
						<option value="18">Rwanda</option>
						<option value="21">Samoa</option>
						<option value="21">San Marino</option>
						<option value="21">Sao Tome and Principe</option>
						<option value="9999">Saudi Arabia</option>
						<option value="21">Senegal</option>
						<option value="18">Serbia</option>
						<option value="21">Sierra Leone</option>
						<option value="18">Singapore</option>
						<option value="18">Slovakia</option>
						<option value="18">Slovenia</option>
						<option value="21">Solomon Islands</option>
						<option value="9999">Somalia</option>
						<option value="18">South Africa</option>
						<option value="19">South Korea</option>
						<option value="18">Spain</option>
						<option value="21">Sri Lanka</option>
						<option value="9999">Sudan</option>
						<option value="18">Swaziland</option>
						<option value="18">Sweden</option>
						<option value="18">Switzerland</option>
						<option value="18">Syria</option>
						<option value="18">Taiwan</option>
						<option value="21">Tajikistan</option>
						<option value="18">Tanzania</option>
						<option value="20">Thailand</option>
						<option value="21">Togo</option>
						<option value="16">Tokelau</option>
						<option value="18">Tonga</option>
						<option value="18">Trinidad and Tobago</option>
						<option value="18">Tunisia</option>
						<option value="18">Turkey</option>
						<option value="18">Turkmenistan</option>
						<option value="18">Uganda</option>
						<option value="18">Ukraine</option>
						<option value="21">United Arab Emirates</option>
						<option value="18">United Kingdom</option>
						<option value="21">United States</option>
						<option value="18">Uruguay</option>
						<option value="18">Uzbekistan</option>
						<option value="18">Vanuatu</option>
						<option value="18">Venezuela</option>
						<option value="18">Viet Nam</option>
						<option value="18">Virgin Islands, British</option>
						<option value="18">Virgin Islands, U.S.</option>
						<option value="9999">Yemen</option>
						<option value="18">Zambia</option>
						<option value="18">Zimbabwe</option>
					</select>
				</p>
				<p>
					To enter our website, you must be of legal alcohol drinking age in your country
					of residence. If no such law for responsible drinking exists in your country
					you have to be over 21 to visit our site. Chandon supports the responsible consumption of wines and spirits, through Moët Hennessy, member of the European Forum for Responsible Drinking (www.responsibledrinking.eu), Discus (www.discus.org), Entreprise et Prévention, and CEEV (www.wineinmoderation.eu).
					Please enjoy responsibly.
				</p>
				<p>
					<a href="http://chandon.com/terms-and-conditions.html" target="_blank"><span class="glyphicon glyphicon-play iconSeparate"></span>CLICK FOR TERMS AND CONDITIONS</a>
				</p>
				<p>
					<input type="checkbox" name="checkbox" value="check" class="iconSeparate">I AGREE TO TERMS AND CONDITIONS
				</p>
				<p>
					<input type="submit" class="enterSite" value="Enter">
				</p>

			</form>
		</div>
	</div>