{mobile_vars}<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>Chandon Summer</title>
<meta name="description" content="">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

{exp:automin:less attribute:type="text/css" attribute:rel="stylesheet"}
<link rel="stylesheet/less" type="text/css" href="/css/bootstrap.less">
<link rel="stylesheet/less" type="text/css" href="/css/main.less">
{/exp:automin:less}
<link rel="stylesheet/less" type="text/css" href="/v2/js/vendor/royalslider/royalslider.less">
<link rel="stylesheet/less" type="text/css" href="/v2/js/vendor/royalslider/skins/default/rs-default.less">

<script src="/js/vendor/modernizr-2.6.2.min.js"></script>
</head>
<body class="{mobile_class}">
<!--[if lt IE 7]>
<p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/" target="_blank">upgrade your browser</a> to improve your experience. We strongly recommend <a href="https://www.google.com/intl/en/chrome/browser/" target="_blank">Google Chrome</a> for Mac and Windows</p>
<![endif]-->



<header class="main-header">
		<div id="nav-toggler">toggleme</div>	
		<h1 class="logo"><a href="/">{site_name}</a></h1>
		<nav class="main-nav">
		<ul>
			<li><a href="#block-1" data-url="#block-1" data-title="Section One">Section One</a></li>
			<li><a href="#block-2" data-url="#block-2" data-title="Section 2">Section two</a></li>
			<li><a href="#block-3" data-url="#block-3" data-title="Section 3">Section three</a></li>
			<li><a href="#block-4" data-url="#block-4" data-title="Section 4">Section four</a></li>

		</ul>
		</nav>
</header>

{layout:contents}



<div id="page-loader">Loading....</div>




<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="/v2/js/vendor/jquery-1.10.2.min.js"><\/script>')</script>

{exp:automin:js}
<script src="/js/vendor/waitForImages.js"></script>
<script src="/js/main.js"></script>
{/exp:automin:js}



<!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
<script>
(function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
e=o.createElement(i);r=o.getElementsByTagName(i)[0];
e.src='//www.google-analytics.com/analytics.js';
r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
ga('create','UA-XXXXX-X');ga('send','pageview');
</script>
</body>
</html>