{mobile_vars}<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">

<title>Chandon Summer</title>

<meta name="author" content="Chandon" />
<meta name="description" content="Chandon Summer" />

{!-- #### OG TAGS #### --}
{exp:channel:entries channel="meta_data" limit="1" disable="member_data|comments|trackbacks"}
<meta property="og:title" content="{site_name}">
<meta property="og:type" content="website">
<meta property="og:url" content="{site_url}">
<meta property="og:image" content="{og_image}">
<meta property="og:site_name" content="{site_name}">
<meta property="og:description" content="{meta_description}">
{/exp:channel:entries}

{exp:automin:less attribute:type="text/css" attribute:rel="stylesheet"}
<link rel="stylesheet" type="text/css" href="/js/vendor/royalslider/royalslider.less">
<link rel="stylesheet" type="text/css" href="/js/vendor/royalslider/skins/chandon/rs-chandon.less">
{/exp:automin:css}
{exp:automin:less attribute:type="text/css" attribute:rel="stylesheet"}
<link type="text/css" rel="stylesheet" href="/css/bootstrap.less" />
<link type="text/css" rel="stylesheet" href="/css/main.less" />
{/exp:automin:less}

</head>
<body{exp:classee_body}>

		
		
		{layout:contents}


<footer id="footer" class="main-footer container-fluid">
	<div class="row">
	<div class="col-md-6 col-lg-6 text-center">
		<p>Chandon supports the responsible consumption of wines and spirits, through Moët Hennessy, member of the European Forum for Responsible Drinking (<a href="http://www.responsibledrinking.eu">www.responsibledrinking.eu</a>), Discus (<a href="http://www.discus.org" target="_blank">www.discus.org</a>), EntrepriseetPrévention, andCEEV (<a href="http://www.wineinmoderation.eu" target="_blank">www.wineinmoderation.eu</a>). Please enjoy responsibly.</p>
	</div>
	<div class="col-md-6 col-lg-6">
		<div class="row">
			<div class="col-md-6"><a href="http://www.chandon.com/privacy-policy.html" class="footer-link" target="_blank">PRIVACY POLICY</a></div>
			<div class="col-md-6"><a href="http://www.chandon.com/terms-and-conditions.html" class="footer-link" target="_blank">TERMS &amp; CONDITIONS</a></div>
		</div>
	</div>
</footer>


<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="/js/vendor/jquery-1.10.2.min.js"><\/script>')</script>
{exp:automin:js}
<script type="text/javascript" src="/js/vendor/bootstrap.js"></script>
<script type="text/javascript" src="/js/vendor/jquery.easing.js"></script>
<script type="text/javascript" src="/js/vendor/waitForImages.js"></script>
<script type="text/javascript" src="/js/vendor/fitvids.js"></script>
<script type="text/javascript" src="/js/vendor/royalslider/jquery.royalslider.min.js"></script>
<script type="text/javascript" src="/js/vendor/jquery.validate.min.js"></script>
<script type="text/javascript" src="/js/vendor/jquery.cookie.js"></script>
<script type="text/javascript" src="/js/main.js"></script>
{/exp:automin:js}

</body>
</html>