<div class="rs-wrapper-mobile">

	<div class="royalSlider rsDefault mobile-slider container-fluid">
	
		<? $counter = 1 ; ?>
		{exp:channel:entries channel="recipies" limit="3" disable="comments|trackbacks|memeber_data" sort="asc"}

		<div class="eachSlide">
	
			<figure class="mobile-image">
				<img src="{image}" />
			</figure>
			
			
		<div class="eachSlide-header">
			<h2 class="cocktail-title">{title}</h2>
			<!-- Button trigger modal -->
			<button class="btn btn-default btn-lg col-xs-12" data-toggle="modal" data-target="#slide<? echo $counter++ ?>">
				See Recipe
			</button>
		</div>
		
		
		</div>
		{/exp:channel:entries}

	</div>
</div>



	<? $counter = 1 ; ?>
	{exp:channel:entries channel="recipies" limit="3" disable="comments|trackbacks|memeber_data" sort="asc"}
	<!-- Recipe Modals -->
	<div class="modal fade" id="slide<? echo $counter++ ?>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-body">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
					<div class="recipe eachSlide">
						<h2>{title}</h2>
						<p>Ingredient 1</p>
						<p>Ingredient 2</p>
						<p>Ingredient 3</p>
						<div class="directions">
							<h2>Directions</h2>
							<p>Do something and then do something else.</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	{/exp:channel:entries}