<div class="rs-wrapper-mobile">

	<div class="royalSlider rsDefault mobile-slider container-fluid">
		<div class="eachSlide">
			<h1>Cocktail 1</h1>
			<!-- Button trigger modal -->
			<button class="btn btn-primary btn-lg col-xs-12" data-toggle="modal" data-target="#slide1">
				See Recipe
			</button>
			<img class="col-xs-12" src="/css/img/about_bottle.jpg" />
		</div>
		<div class="eachSlide">
			<h1>Cocktail 2</h1>
			<!-- Button trigger modal -->
			<button class="btn btn-primary btn-lg col-xs-12" data-toggle="modal" data-target="#slide2">
				See Recipe
			</button>
			<img class="col-xs-12" src="/css/img/about_bottle.jpg" />
		</div>
		<div class="eachSlide">
			<h1>Cocktail 3</h1>
			<!-- Button trigger modal -->
			<button class="btn btn-primary btn-lg col-xs-12" data-toggle="modal" data-target="#slide3">
				See Recipe
			</button>
			<img class="col-xs-12" src="/css/img/about_bottle.jpg" />
		</div>

	</div>



	<!-- Recipe Modals -->
	<div class="modal fade" id="slide1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-body">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
					<div class="recipe eachSlide">
						<h1>Cocktail 1</h1>
						<p>Ingredient 1</p>
						<p>Ingredient 2</p>
						<p>Ingredient 3</p>
						<div class="directions">
							<h2>Directions</h2>
							<p>Do something and then do something else.</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="modal fade" id="slide2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-body">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
					<div class="recipe eachSlide">
						<h1>Cocktail 2</h1>
						<p>Ingredient 1</p>
						<p>Ingredient 2</p>
						<p>Ingredient 3</p>
						<div class="directions">
							<h2>Directions</h2>
							<p>Do something and then do something else.</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="modal fade" id="slide3" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-body">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
					<div class="recipe eachSlide">
						<h1>Cocktail 3</h1>
						<p>Ingredient 1</p>
						<p>Ingredient 2</p>
						<p>Ingredient 3</p>
						<div class="directions">
							<h2>Directions</h2>
							<p>Do something and then do something else.</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	
</div>