{mobile_vars}
{exp:channel:entries channel="about" limit="1" disable="member_data|comments|trackbacks"}
<section id="first" class="section about">
	<article class="inner">
	
	{hamburger}
	{embed="inc/.social-share"}
	
	
	
		<figure class="about-left mobile-hidden">
				<img src="{about_image}" class="img-responsive" />
		</figure>

				
		<div class="about-right">
			<div class="table">
				<div class="table-cell">
					<h1 class="page-title">{title}</h1>
					<h2 class="page-sub-title">{about_sub_title}</h2>
					{about_text}
				</div>
			</div>
		</div>		
									
		
		<div class="small-logo small-logo-about"><small>Chandon Summer</small></div>
		{embed="inc/.shop-it-link"}
		{bars}
	</article>
	
	
</section>
{/exp:channel:entries}