{mobile_vars}
{exp:channel:entries channel="entertaining" disable="member_data|comments|trackbacks"}
<section id="second" class="section entertaining">
	<article class="inner">
	
		{hamburger}
		{embed="inc/.social-share"}
	
		<div class="table">
			<div class="table-cell">
				<div class="row">
					<div class="col-md-8 col-md-offset-2">
					<div class="table">
						<div class="table-cell text-center">
							<div>
							<h1>{title}</h1>
							<figure class="video-wrapper">
							{entertaining_video_embed_code}
							</figure>
							{entertaining_text}
							</div>
						</div>
					</div>
					</div>
				</div>
			</div>							
		</div>
		{bars}
		<div class="small-logo entertaining"><small>Chandon Summer</small></div>
	</article>
	{embed="inc/.shop-it-link"}
	
</section>
{/exp:channel:entries}