{mobile_vars}
{exp:channel:entries channel="entertaining" disable="member_data|comments|trackbacks"}
<section id="second" class="section entertaining">
	<article class="inner">
	
		{hamburger}
		{embed="inc/.social-share"}
	
		<div class="table">
			<div class="table-cell">
				<div class="row">
					<div class="col-sm-6 col-sm-offset-3 col-md-6 col-md-offset-3 col-lg-6 col-lg-offset-3">
					<div class="table">
						<div class="table-cell text-center">
							<div>
							<h1 class="page-title">{title}</h1>
							
							<figure class="video-wrapper">
							{entertaining_video_embed_code}
							</figure>
							
							{entertaining_text}
							</div>
						</div>
					</div>
					</div>
				</div>
			</div>							
		</div>
		{bars}
		<div class="small-logo small-logo-entertaining"><small>Chandon Summer</small></div>
		{embed="inc/.shop-it-link"}
	</article>
	
</section>
{/exp:channel:entries}