{layout="inc/.layout" title="Chandon Summer"}

<section class="table section-first section-resizable" id="block-1" data-program="block-1">

	<div class="table-inner"><h1 class="text-center">BLock 1</h1></div>

</section>

<section class="table section-second section-resizable" id="block-2" data-program="block-2">

	<div class="table-inner"><h1 class="text-center">BLock 2</h1></div>

</section>

<section class="table section-third section-resizable" id="block-3" data-program="block-3">

	<div class="table-inner"><h1 class="text-center">BLock 3</h1></div>

</section>



<section class="table section-fourth section-resizable" id="block-4" data-program="block-4">

	<div class="table-inner"><h1 class="text-center">BLock 4</h1</div>

</section>